<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.dtu.brogb1">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BrogB1.NoActionBar"
        android:requestLegacyExternalStorage="true">
        <activity android:name=".activity.EditBrew"></activity>
        <activity
            android:name=".activity.Sections"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NewBrew"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Brewing"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Option"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HomePage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.community.CommunityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.clean.CleanActivityStep3"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.clean.CleanActivityStep2Working"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.clean.CleanActivityStep1Working"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.clean.CleanActivityStep2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.clean.CleanActivityStep1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.community.Guide"
            android:screenOrientation="portrait" />
        <activity
        android:name=".activity.community.About"
        android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LandingPage"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data android:name="io.sentry.dsn" android:value="https://d4f03219a991444a88d9435bfdf8222f@o505463.ingest.sentry.io/5593780" />

        <activity android:name=".activity.Loading"></activity>
    </application>

</manifest>